{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ordina</h1>
    <form method="POST" action="{{path('pachamama.order')}}">
    <table class="products table-hover table-striped table">
        <thead>
            <tr class="product">
                <td>Nome</td>
                <td>{{app.user.name}}</td>
                <td>Telefono</td>
                <td>{{app.user.phone}}</td>
                <td></td>
            </tr>
            <tr class="product">
                <td>Gruppo</td>
                <td>{{app.user.group}}</td>
                <td>Telefono</td>
                <td>{{app.user.email}}</td>
                <td></td>
            </tr>
            <tr class="product ">
                <td>Codice</td>
                <td>Nome</td>
                <td>Prezzo riservato</td>
                <td>Quantità</td>
                <td>Totale Prodotti: {{products |length}}</td>
            </tr>
        </thead>
        <tbody>
        {% set currentCategory = '' %}
        {% for product in products %}
            {% if(product.category != currentCategory)%}
                {% set currentCategory = product.category  %}
                <tr><th colspan="10">{{product.category}}</th></tr>
            {% endif%}
            <tr class="product ">
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td class="price reserved_price">{{product.price}}</span> €</td>
                <td>{{product.qty}}</td>
                <td class="price"><span id="product_total_{{product.id}}"></span></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr class="product ">
                <td colspan="3"></td>
                <td><button class="btn btn-primary btn-order">Ordina</button></td>
                <td class="price">Totale: <span id="total">0.00</span> €</td>
            </tr>
        </tfoot>
    </table>
    </form>
    <style>
        th{
        }
        .price{
            text-align: right;
        }
        .reserved_price{
            font-weight:bolder;
        }
    </style>
{% endblock %}
