<h1>Riepilogo Ordine </h1>
<h2>Dati Utente</h2>
<table class="products table-hover table-striped table" style="width:100%">
    <tr>
        <td>
            Nome
        </td>
        <td>
            {{order.name}} {{order.surname}}
        </td>
        <td>
            Telefono
        </td>
        <td>
            {{order.phone}}
        </td>
    </tr>
    <tr>
        <td>
            Gruppo
        </td>
        <td>
            {{order.scoutGroup}} 
            {{order.scoutUnit}}
        </td>
        <td>
            Email
        </td>
        <td>
            {{order.email}}
        </td>
    </tr>
</table>
<h2>Dati Prodotti</h2>
<table class="products table-hover table-striped table" style="width:100%">
    <thead>
        <tr class="product ">
            <th>Codice</th>
            <th>Nome</th>
            <th>Prezzo unitario</th>
            <th>Quantità</th>
            <th>Totale Prodotti: {{order.getCountItems}}</th>
        </tr>
    </thead>

    <tbody>
    {% set currentCategory = '' %}

    {% for product in order.products %}
        {% if(product.category != currentCategory)%}
            {% set currentCategory = product.category  %}
            <tr><th colspan="10">{{product.category}}</th></tr>
        {% endif%}
        <tr class="product ">
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td align="right" class="price reserved_price">{{product.price| number_format(2) }}</span> €</td>
            <td>{{product.quantity}}</td>
            <th align="right" class="price">{{(product.total) | number_format(2) }} €</th>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr class="product ">
            <td align="right">Note</td>
            <td colspan="4">{{ order.note }}</td>
        </tr>
        <tr class="product ">
            <td colspan="2"></td>
            <td></td>
            <td></td>
            <td align="right" class="price total">Totale: <span id="">{{ order.total | number_format(2) }}</span> €</td>
        </tr>
    </tfoot>
</table>
-- <br/>|
Cambuse Critiche <br/>
Agesci Zona di Rimini <br/>
http://www.agescirimini.it <br/>
<small>Email automatica non rispondere a questa email </small><br/>
