{% extends 'layout.html.twig' %}

{% block content %}
    <h1>ADMIN _ Lista Mercati</h1>
    <div class="table-responsive">
        <div><a class="btn btn-default" href="{{ path('admin.markets.market.new') }}"><span class="glyphicon glyphicon-plus"></span></a></div>
        <table class="products table-hover table-striped table">
            <thead>
                <tr class="product ">
                    
                    <td>Nome</td>
                    <td>Citta</td>
                    <td>Indirizzo</td>
                    <td>Telefono</td>
                    <td>Cellulare</td>
                    <td>Email</td>
                    <td>Stato</td>
                    
                    <td>Totale Mercati: {{markets |length}}</td>
                </tr>
            </thead>
            <tbody>
            {% for market in markets %}
            <tr class="product ">
                <td>{{market.name}}</td>
                <td>{{market.city}}</td>
                <td>{{market.address}}</td>
                <td>{{market.phone}}</td>
                <td>{{market.mobile}}</td>
                <td>{{market.email}}</td>
                <td>
                    <a class="btn btn-danger btn-status {{market.active?'hide':''}}" data-url="{{ path('admin.markets.market.status', {'id':market.id, 'status':'enable'}) }}"><span class="glyphicon glyphicon-unchecked"></span></a>
                    <a class="btn btn-success btn-status {{market.active?'':'hide'}}" data-url="{{ path('admin.markets.market.status', {'id':market.id, 'status':'disable'}) }}"><span class="glyphicon glyphicon-check"></span></a>
                </td>
                <td><a class="btn btn-primary" href="{{ path('admin.markets.market.edit', {'id':market.id}) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
    {{parent()}}
    
    
    </script>    
{% endblock %}